section {
	padding: 30px 0 0;
}

form {
	display: flex;
}

input {
	width: 100%;
	height: 40px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 7px -3px var(--dark-gray);
	padding: 0 10px;
	font-size: 16px;
	color: var(--black);
}

input:focus {
	outline: none;
	box-shadow: 0 0 7px 0px var(--dark-gray);
}

input::placeholder {
	font-style: italic;
}

form button {
	margin: 0 0 0 10px;
	border: none;
	border-radius: 5px;
	background-color: var(--light-blue);
	color: var(--dark-gray);
	box-shadow: 0 0 7px -2px var(--dark-blue);
	cursor: pointer;
}

form button:hover {
	filter: brightness(0.8);
}

ul {
	height: auto;
	max-height: 264px;
	border-radius: 5px;
	margin: 30px 0 0;
	overflow: scroll;
	background-color: var(--light-gray);
}

li {
	height: 40px;
	display: flex;
	justify-content: space-between;
	padding: 0 0 0 10px;
	background-color: var(--light-gray);
}

li:hover {
	filter: brightness(0.8);
}

li span {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

li.checked span {
	text-decoration: line-through;
}

li:hover button {
	height: 100%;
	border: none;
	display: initial;
	background-color: #ff4f4f;
	filter: brightness(1);
	color: var(--white);
    cursor: pointer;
}

li button {
	display: none;
}
